/* .side-bar{
  float: right;

}
.main {
  display: block;
} */
/* 
address {
  display: block;
} */
div#profile-info{
  max-width: 400px;
  overflow: hidden;
  float: left;

}
div#card{
  width:200px
}
div#menu-options{
  max-width: 400px;
  overflow: hidden;
float:right;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {} */
/* body {
  background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
} */

/* * {
  box-sizing: border-box;
  text-align: left;
}

input{
  width: 40%
}
table{
  width:100%;
  border:0;
}

button:disabled{
  text-align: left;
  font-size: medium;
  border:none;
}

.form-div{
  max-width: 75%;
  margin: auto;
}

.main {
  width:100%;
}

.ordered-list{
float:left;
background-color: white;
text-align: left;

}
.ol>li{

  width:100%;
  background-color: white;
  float:left;

}

.header{
  width:100%;
  background-color: grey;
}
.bottom{
  display: inline;
}
.min-hours{
  text-align: center;
  display:block;
}

label{
  display: inline-block;
  width: 100%;
}

label>input{
  display:block;
  width: 100%;
}

.small-thead{
  background-color: grey;
  font-size: small;
  text-align: center;
  overflow-wrap: break-word;
}

.large-thead{
  padding:3px 0px 3px, 0px;
  word-break: normal;
  background-color: grey;
  font-size: medium;
  text-align: center;
  overflow-wrap: break-word;
} */
